{% extends "base.html" %}
{% block title %}
contact
{% endblock title %}
{% block body %}
<div class="container">
    <h2> Your Saarthi Is Here!!</h2>
    <img src="https://images.unsplash.com/photo-1534536281715-e28d76689b4d?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="..." >
    
</div>
<div class="container my-3">
    <form method="post" action="/contact">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Name</label>
          <input type="Name" class="form-control" name="name" id="Name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Phone Number</label>
            <input type="Phone Number" class="form-control" name="phone" id="Phone Number">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect2">Your Message For Us</label>
            <input type="message" class="form-control"name="msg" id="exampleFormControlInput1" >
              
            </select>
          </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock body %}