{% extends "base.html" %}
{% block title %}
maths
{% endblock title %}
{% block body %}
<h1>1. Formula Sheets and Short Notes</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maths</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Chapters</th>
                <th>PDF</th>
            </tr>
        </thead>
        <tbody>
            <!-- Repeat the following row block 17 times for 17 rows -->
            <tr>
                <td>1</td>
                <td>Unit and Dimensions</td>
                <td><a href="https://drive.google.com/file/d/14nKj4NiUyRkvrmWWGrh1WDON2-47QBVx/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Reciliner Motion</td>
                <td><a href="https://drive.google.com/file/d/1gnKf3EERnlirTxbQd-Z5yTMEQ6--wzxV/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Projectile Motion and Vectors</td>
                <td><a href="https://drive.google.com/file/d/1Avcte94i3jA42TaskCtAyJqCiq-K7be1/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Relative Motion</td>
                <td><a href="https://drive.google.com/file/d/1sUc0phcCC81jSz-D8MFUe8J8nis3x0Rv/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Newton's Laws of Motion</td>
                <td><a href="https://drive.google.com/file/d/1-ceuD0C97V-au5ShDmYqyDnuoaskQUUG/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>6</td>
                <td>Friction</td>
                <td><a href="https://drive.google.com/file/d/1JG_QplSktCo77c7WEC4PwJLp9aNANisS/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>7</td>
                <td>Work Power and Energy</td>
                <td><a href="https://drive.google.com/file/d/1-rfc3MKer3JSPUuanzaC2qog8mmDbML8/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>8</td>
                <td>Circular Motion</td>
                <td><a href="https://drive.google.com/file/d/1d1as2ameCRelzYH7Da8pjlEZaN4zrO4U/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>9</td>
                <td>Centre of Mass</td>
                <td><a href="https://drive.google.com/file/d/1dr3LUXM4cS_aC37N9GzGkScT7kTVrkTL/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>10</td>
                <td>Rigid Body Dynamics</td>
                <td><a href="https://drive.google.com/file/d/1GojpkgDu4p_ShTNqUmBXGacbNTJHDWGp/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>11</td>
                <td>Simple Harmonic Motion</td>
                <td><a href="https://drive.google.com/file/d/1WqJ-XjGKcstEMpHAjLE5tQGqBnWuCxga/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>12</td>
                <td>Heat and Thermodynamics</td>
                <td><a href="https://drive.google.com/file/d/122D_-Jot68ueoxRUCLG5Ygnsk-uOoYNO/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>13</td>
                <td>String Waves</td>
                <td><a href="https://drive.google.com/file/d/1_57TpItTW-bQY0oWoH7XRPAQtcdsjuZT/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>14</td>
                <td>Electrostatics</td>
                <td><a href="https://drive.google.com/file/d/1sduA8s7pg-gbnV5WYqkQbIZPmpyR0pLJ/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>15</td>
                <td>Current Electricity</td>
                <td><a href="https://drive.google.com/file/d/16DqM21YnFD_Rml5avXCRdZHdy-o_R0ME/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>16</td>
                <td>Capacitance</td>
                <td><a href="https://drive.google.com/file/d/1j10dKVEgq0zRk6GFapn1Z6CV6uNFSWn-/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>17</td>
                <td>Alternating Current</td>
                <td><a href="https://drive.google.com/file/d/1sbAKTHMhaKm9uCmYtAr4fltbid4oOUze/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>18</td>
                <td>Magnetic Effect of Current</td>
                <td><a href="https://drive.google.com/file/d/1VBTQSG2bowSOwOvUQ1sFz0CyeF40ZBNQ/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>19</td>
                <td>Electromagnetic Induction</td>
                <td><a href="https://drive.google.com/file/d/1qwXHTlVbjMJcIfLPU9R4RWmYsl4votYq/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>20</td>
                <td>Geometrical Optics</td>
                <td><a href="https://drive.google.com/file/d/1Vfdmk09YHGWmlK3nGUZ0bVkflxKVe2-H/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>21</td>
                <td>Modern Physics</td>
                <td><a href="https://drive.google.com/file/d/10Ewmnl_BaiC3BW9pFRuBbAaGgjLCTpKq/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>22</td>
                <td>Wave Optics</td>
                <td><a href="https://drive.google.com/file/d/1iwNUiCOxVaIG_iAZxCUhqYtyR-fkH3G6/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>23</td>
                <td>Gravitation</td>
                <td><a href="https://drive.google.com/file/d/126Qw9Ep2c4060MHfVan8ABibWSuowWdF/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>24</td>
                <td>Fuild Mechanics and Properties of Matter</td>
                <td><a href="https://drive.google.com/file/d/1yasKZiQEd7oUCfMQbQgPIHSypR54nh-I/view?usp=drive_link">link</a></td>
            </tr>
            <tr>
                <td>25</td>
                <td>Sound Waves</td>
                <td><a href="https://drive.google.com/file/d/1eWzyc1_R6YyeyIOpCvd2pWrgPFaa0WVP/view?usp=drive_link">link</a></td>
            </tr>

            <!-- Add additional rows here -->
            
        </tbody>
    </table>
    <h1>2. MindMaps</h1>
    <table>
        <tbody>
            <tr>
                <td>1.</td>
                <td>Physics Mindmaps</td>
                <td><a href="https://drive.google.com/file/d/1zAIdP4-xjK2jbwu0h413_Sj039ps49oc/view?usp=drive_link">link</a></td>
            </tr>
        </tbody>
    </table>

</body>
</html>

{% endblock body %}