{% extends "base.html" %}
{% block title %}
Physics MHTCET
{% endblock title %}
{% block body %}
<style>
    
    h1 {
        font-weight: bold;
        text-align: center;
        position: relative;
    }
    h1::after {
        content: '';
        display: block;
        width: 50%; /* Adjust width of underline */
        height: 2px; /* Adjust thickness of underline */
        background-color: black;
        margin: 8px auto 0;
    }
</style>

<body>
    <br>
<h1> Let's Master The Chapters</h1>
<div class="row  ">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="/static/image6.png" class="d-block w-100" alt="..." >
        <div class="card-body">
        

          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a class="btn btn-warning " href="https://youtu.be/6Di9o_Vdvjo" role="button">Watch</a>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="/static/image7.png" class="d-block w-100" alt="..." >
        <div class="card-body">
        
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a class="btn btn-warning " href="https://youtu.be/Nu_oH35MLw0" role="button">Watch</a>
             
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="/static/image8.png" class="d-block w-100" alt="..." >
        <div class="card-body">
          
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a class="btn btn-warning " href="https://youtu.be/nOZ28JQyU0w" role="button">Watch</a>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

 

{% endblock body %}